* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
  background-color: var(--darkreader-bg--bg-main, var(--darkreader-background-ffffff, #191b1c));
}

/* Header */

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 0 1rem;
  background-color: var(--darkreader-bg--bg-main, var(--darkreader-background-ffffff, #151139));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.logo {
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;

  background: linear-gradient(to right, #006106, #00ff33);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;


}

.navbar {
  display: flex;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 0;

}

.navbar ul li {
  font-size: 1.2rem;
  justify-content: space-evenly;
}

.navbar ul li :hover {
  color: #02bf0f;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.social-links {
  display: flex;
  gap: 1.5rem;
  width: auto;
  min-width: 0;
}


.social-links a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #fff;
}

/* Main sections */

main {
  background-color: var(--darkreader-bg--bg-main, var(--darkreader-background-ffffff, #537485));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

main section {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 3rem 1.5rem;
}

main section h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: left;
  margin: 0 0 1rem 0;
  padding: 1rem;
}

/* Home section */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 12rem 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  width: 100%;
  max-width: 100%;
}

.home-content span {
  margin: 1rem 0;
}

.home-name {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;
}

.home-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  gap: 1.5rem;
  width: 100%;
  max-width: 100%;
}

.home-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  border: 1px solid #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

/* Main sections */

/* About section */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 0 2rem;
}

.about-container p {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;
  margin: 0 0 2rem 0;
  padding: 2rem;
  width: 80%;
}

.about-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  border: 2px solid #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
}

/* Skills section */

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  padding: 0 2rem;
}

.skills-container ul {
  list-style: none;
  gap: 1rem;
}

.skills-types button {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: #00ff33;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.skills-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  max-width: 100%;
  padding: 0 2rem;
}

.skills-types button:hover {
  background-color: #cd4d26;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.skill-card {
  border: 1px solid #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  border-radius: 0.5rem;
  background-color: #2f3b42
}

.skill-card img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.skill-card h3 {
  font-size: 1rem;
  margin: 0.5rem 0 0 0;
  text-align: center;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  padding: 0 2rem;
}

/* Projects section */
.projects-section {
  text-align: left;

}


.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 100%;
  max-width: 100%;
  padding: 0 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 640px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border: 1px solid #fff;
  border-radius: 0.9rem;
  background-color: #2f3b42;
}

.project-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  border-radius: 0.9rem 0.9rem 0 0;
  padding: 3rem;
  gap: 0.5rem;
  margin: 0;
  background: linear-gradient(to right bottom, #a6ffb1, #0b5b00);
}

.project-card-body {
  padding: 1rem;
}

.project-card-body h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: left;
}

.project-card-body p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: left;
}

.project-card-body h4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: left;
}

.project-card-body li::marker {
  color: #794ab9;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-align: left;
  padding: 0 0 0 1rem;
}

.project-technologies ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
  gap: 0.5rem;
}

.project-technologies ul li {
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: #19191d;

}

.projects-section-github {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  margin: 0 auto;
}

.projects-section-github a {
  text-decoration: none;
  color: #fff;
  background-color: #19191d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
}





















/* Footer */

footer {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.ft-info-and-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin: 1.5rem 1rem;
  padding: 0;
}

@media (min-width: 768px) {
  .ft-info {
    width: 50%;
  }

  .ft-quick-links {
    width: 25%;
  }

  .ft-featured-projects {
    width: 25%;
  }

  .social-links {
    width: auto;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 0 2rem;
  }

  .ft-info-and-links {
    margin: 1.5rem 2rem;
  }
}

.ft-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0;
}

.ft-info h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.ft-info p {
  width: 50%;
  font-size: 1.05rem;
  font-weight: 400;
}

.ft-email-and-location {
  display: flex;
  flex-direction: column;
}

.ft-email {
  display: flex;
  align-items: center;
}

.ft-email a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #fff;
}

.ft-email a :hover {
  color: #02bf0f;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.ft-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ft-quick-links {
  width: 15%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0;
}

.ft-quick-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ft-quick-links ul li {
  font-size: 0.9rem;
  text-align: left;
  font-weight: 400;
  gap: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.ft-featured-projects {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0;
}

.ft-featured-projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.ft-featured-projects a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  gap: 0.5rem;
  margin: 0.5rem 0 0.5rem 0;
}

.ft-copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 1.5rem;
  padding: 0 1.5rem;
}

.ft-copyright ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
  padding: 0 1.5rem;
}

.ft-copyright ul li {
  font-size: 0.9rem;
}